@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    text-align: center;
    font: normal 1em Roboto;
    background-color: #4A4E69;
}

#home {
    text-align: left;
    margin-left: 10px;
    margin: auto;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin: 3px;
}

input#retype {
    margin-bottom: 10px;
}

main {
    margin: auto;
    margin-top: 60px;
    width: 1000px;
    background-color: #F2E9E4;
    border-radius: 5px;
    padding-top: 1px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

p#footer {
    display: inline-block;
    margin-top: 10px;
}

.header {
    background-color: white;
    height: 40px;
    border-radius: 5px;
}

.logo {
    text-align: left;
    position: absolute;
    right: 1225px;
}

div#login {
    text-align: right;
    position: absolute;
    right: 25px;
    bottom: 581px;
}

div#register {
    text-align: right;
    position: absolute;
    right: 110px;
    bottom: 581px;
}

.login_button {
    height: 25px;
}

.register_button {
    height: 25px;
}


.welcome {
    text-align: right;
    position: relative;
    right: 200px;
    bottom: 80px;
}

.user {
    text-align: right;
    position: relative;
    right: 100px;
    bottom: 115.9px;
    font-style: italic;
}

